* {
    margin:0;
    padding: 0;
}
html,body {
  height: 100%;
}
body {
    background-color: #054077;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.sans-serif{
    font-family: 'Oswald', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

header, main, footer {
    width: 1040px;
    margin: 0 auto;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
     width: 100%;
}

header {
    height: 120px;    
}
#mainnav {
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    padding-top: 40px;
}
#mainnav li {
    display: inline;
}
#mainnav a {
    text-decoration: none;
    padding: 15px;
    color: white;
}
#mainnav a:hover {
    text-decoration: underline;
}
#mainnav li.active a {
    font-weight: bold;
}

main {
    padding-bottom: 100px;
}
.main__img—float {
    width: 550px;
    margin-right: 40px;
    float: left;
}

footer {   
    margin: -100px auto 0;
    position: relative;
    height: 100px;
}
footer a {
    color: white;
}
.footer__block {
    display: inline-block;
    width: 335px;
    text-transform: uppercase;
    text-align: center;
}
.footer__icons {
    display: inline-block;
    width: 335px;
    text-align: right;
}
.footer__img {
    width: 50px;
    margin-left: 10px;
}

#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover;
}
.services__img {
    width: 240px;
}
.services__item {
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left;
}
.services {
    padding: 35px;
}
.services a {
    text-decoration: none;
}
.services a:hover {
    text-decoration: underline;
}
.new::after {
    content: "new";
    font-size: 10px;
    vertical-align: super;
    background-color: rgb(130, 238, 197);
    border-radius: 2px;
    padding: 3px;
    margin-left: 5px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.h1—invisible {
    visibility: hidden;
}
table {
    border-collapse: collapse;
}
caption {
    text-align: left;
    padding-bottom: 10px;
}
td, th {
    padding: 10px;
}
.price th {
    border-top: 5px solid #0af688;
    border-bottom: 5px solid #0af688;
}
.price th:first-child {
    width: 10%;
}
.price th:nth-child(2), .price th:last-child {
    width: 25%;
}
.price td:first-child, .price td:nth-child(2), .price td:last-child {
    text-align: center;
}
.price tr:nth-child(even) {
    background-color: rgb(50, 117, 204);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.about {
    text-align: center;
}
.about__img {
    width: 450px;
}
.about p {
    text-align: justify;
    margin: 0 auto;
    width: 450px;
}

.contacts {
    text-align: center;
    font-size: 15px;
}

.clients {
    padding-bottom: 100px;
}
.clients__img {
    margin-right: 40px;
    width: 140px;
    border-radius: 50%;
    float: left;
}

#logo {
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    float: left;
}

.form__item {
    font-style: italic;
}
#contact-form select {
    height: 35px;
    width: 271px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #c8f8f3;
}
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"], #contact-form input[type="date"] {
    height: 20px;
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #c8f8f3;
}
#contact-form textarea {
    height: 150px;
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #c8f8f3;
}
#contact-form input[type="submit"] {
    width: 150px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-style: italic;
    background-color: rgba(190, 255, 246, 0.5);
    border: none;
    color: rgb(9, 43, 43);
}
#contact-form input[type="submit"]:hover {
    background-color: #b3f5ee;
}

.pink {
    color: rgb(112, 216, 126);
}
h1, h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
mark {
    background: rgb(180, 208, 221);
}